block footer
    script(src='/assets/sbadmin2/js/bootstrap.min.js')
    script(src='/assets/bootstrap-slider/js/bootstrap-slider.js')
    script(src='/assets/sbadmin2/js/plugins/metisMenu/metisMenu.min.js')
    -//script(src='/assets/sbadmin2/js/sb-admin-2.js')
    -//script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js")
    -//script(src='/assets/sbadmin2/js/plugins/angular-bootstrap/ui-bootstrap-custom-0.5.0.js')
    script(src='/assets/sbadmin2/js/plugins/angular-bootstrap/angular.min.js.map')
    script(src='/assets/sbadmin2/js/plugins/angular-bootstrap/angular-ui-bootstrap-0.13.0.min.js')
    script(src="/assets/sbadmin2/js/plugins/leapMotion/leap-0.6.4.min.js")
    //script(src="http://js.leapmotion.com/leap-0.6.3.min.js")
    script(src='/assets/sbadmin2/js/plugins/leapMotion/leapMotion.js')