mixin cocktailColors()
  script.
    var allIngredientColors=[
        {ingredient: 'Default', color: '#3980B5'},
        {ingredient: 'Grenadine Syrup', color: '#ce1956'},
        {ingredient: 'Grenadine', color: '#ce1956'},
        {ingredient: 'Passion Fruit', color: '#490740'},
        {ingredient: 'Orange Juice', color: '#ffbc00'},
        {ingredient: 'Orange', color: '#ffbc00'},
        {ingredient: 'Maracuja Juice', color: '#490740'},
        {ingredient: 'Maracuja', color: '#490740'},
        {ingredient: 'Citrone Juice', color: '#FFF44F'},
        {ingredient: 'Citrus Juice', color: '#FFF44F'},
        {ingredient: 'Lemon Juice', color: '#FFF44F'},
        {ingredient: 'Lemon', color: '#FFF44F'},
        {ingredient: 'Pineapple Juice', color: '#FDCC4A'},
        {ingredient: 'Pineapple', color: '#FDCC4A'},
        {ingredient: 'Strawberry Syrup', color: '#E62C47'},
        {ingredient: 'Strawberry', color: '#E62C47'},
        {ingredient: 'Blue Curacao', color: '#006996'},
        {ingredient: 'Blue Curacao Syrup', color: '#006996'},
        {ingredient: 'Water', color: '#BBD9EE'},
        {ingredient: 'Batida de Coco', color: '#F8F2DC'},
        {ingredient: 'White Rum', color: '#E8D0A9'},
        {ingredient: 'Dark Rum', color:'#45362B'},
        {ingredient: 'Rum Dark', color: '#E8D0A9'},
        {ingredient: 'Rum White', color:'#45362B'},
        {ingredient: 'Gin', color: '#C2D72F'},
        {ingredient: 'Tequila', color: '#E3501A'}
    ];
    //function to find property in an object array. gives the index of the object
    //    function arrayObjectIndexOf(myArray, searchTerm, property) {
    //        for(var i = 0, len = myArray.length; i < len; i++) {
    //            if (myArray[i][property] === searchTerm) return i;
    //        }
    //        //not found:
    //        return 0;
    //    }

    function getColorForIngredient(ingredient) {
        var matchingColor;

        // modify ingredient string
        ingredient = ingredient.toLowerCase();
        ingredient = ingredient.replace(/ /g,"_"); // remove space by underscore: white rum == white_rum

        allIngredientColors.forEach(function(element){
           var temp;
           // modify ingredient string
           temp = element.ingredient.toLowerCase();
           temp = temp.replace(/ /g,"_"); // remove space by underscore: white rum == white_rum

            if(temp == ingredient){
               console.log('colormatching found:', element.color);

               matchingColor = element.color;
            }
        });

        // if nothing has been found
        if(matchingColor) {
            return matchingColor;
        } else {
            console.log('nothing found, returning default');
            return '#3980B5';
        }
    }

