//- Dropdown notification 
//- With JS Tag to update list
mixin dropdown-debug()
        li.dropdown
          a.dropdown-toggle.text-muted(href='#',data-toggle='dropdown')
            i.fa.fa-code.fa-fw#debugListButton
          ul.dropdown-menu.dropdown-messages
            li     
              a()
                div
                  strong Debugging Helper - use with care!
            li.divider
            li     
              a(href='#',onclick="socket.emit('bgDebugClearTaskList', true);")
                div
                  i.fa.fa-pencil.fa-fw
                  strong MI5.ClearTaskList (.116)
                  span.pull-right.text-muted
                    em = true
            li.divider
            // XTS Maintenance
            li.divider
            li     
              a(href='#',onclick="socket.emit('bgDebugMaintenanceTrue',1);")
                div
                  i.fa.fa-pencil.fa-fw
                  strong Mi5.XTS_Maintenance True
                  span.pull-right.text-muted
                    em = true
            li.divider
            li     
              a(href='#',onclick="socket.emit('bgDebugMaintenanceFalse',1);")
                div
                  i.fa.fa-pencil.fa-fw
                  strong Mi5.XTS_Maintenance False
                  span.pull-right.text-muted
                    em = false
            li.divider
            // XTS Restart (true only)
            li.divider
            li     
              a(href='#',onclick="socket.emit('bgDebugRestartXTS',1);")
                div
                  i.fa.fa-pencil.fa-fw
                  strong Mi5.XTS_Restart
                  span.pull-right.text-muted
                    em = true
            // XTS ResetSkills (true only)
            li.divider
            li
              a(href='#',onclick="socket.emit('bgDebugResetSkillsXTS',1);")
                div
                  i.fa.fa-pencil.fa-fw
                  strong Mi5.XTS_ResetSkills
                  span.pull-right.text-muted
                    em = true
            // XTS Enable
            li.divider
            li
              a(href='#',onclick="socket.emit('bgDebugEnableTrue',1);")
                div
                  i.fa.fa-pencil.fa-fw
                  strong Mi5.XTS_Enable True
                  span.pull-right.text-muted
                em = true
            li.divider
            li
              a(href='#',onclick="socket.emit('bgDebugEnableFalse',1);")
                div
                  i.fa.fa-pencil.fa-fw
                  strong Mi5.XTS_Enable False
                  span.pull-right.text-muted
                em = false
            li.divider
            // XTS Warmup
            li.divider
            li
              a(href='#',onclick="socket.emit('bgDebugWarmupTrue',1);")
                div
                  i.fa.fa-pencil.fa-fw
                  strong Mi5.XTS_Warmup True
                  span.pull-right.text-muted
            em = true
            li.divider
            li
              a(href='#',onclick="socket.emit('bgDebugWarmupFalse',1);")
                div
                  i.fa.fa-pencil.fa-fw
                  strong Mi5.XTS_Warmup False
                  span.pull-right.text-muted
            em = false
            li.divider
            li.divider
            li
              a(href='/recipes/manage')
                div
                  strong Sync recipes with cloud
            em = false
            li.divider